@font-face {
    font-family: Chokle;
    src: url("../fonts/Chokle.woff") format("woff"), url("../fonts/Chokle.ttf")  format("truetype");
}

body {
	background-image: url("../images/background.jpg");
	background-size: 100% 200%;
	background-repeat: no-repeat;
}

.jumbotron p {
	text-align: right;
}
.jumbotron h1 {
	font-family: Chokle;
	font-size: 100px;
}

/* centering navbar items */
.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}
.navbar .navbar-collapse {
  text-align: center;
}
.navbar-nav > li {
	padding-left:40px;
 	padding-right:40px;
}



#experience {
	text-align: right;
}
